@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;700&family=Bebas+Neue&display=swap');

* {
  color: #06070e;
  font-family: 'Amiko', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

section {
  max-width: 85vw;
  margin: 4rem auto;
}

h1 {
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.2);
}

h1 > span {
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
  margin: 0 0 0 10px;
}

h1 > img {
  filter: contrast(10);
}

h2 {
  margin-top: 0;
  margin-bottom: 3rem;
  text-align: center;
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h4 > span {
  font-weight: normal;
}

header {
  background-color: #cac4ce;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2rem 0 0;
}

header > span {
  font-size: 30px;
  font-weight: bold;
}

header > span:first-of-type {
  margin-right: 1rem;
  align-self: flex-start;
}

header > span:last-of-type {
  margin-bottom: 2rem;
  margin-left: 1rem;
  align-self: flex-end;
}

nav > ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  margin: 0;
}

.menu {
  background-color: #06070e;
  margin: 0;
  position: sticky;
  top: 0;
}

.menu a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.menu a:hover,
.menu a:active {
  color: #f9dc5c;
}

.about_me--bar,
.about_me--paragraphs,
.resume--paragraphs {
  margin: 0 0 3rem;
}

.sub-paragraph {
  margin-top: 3rem;
}

ul {
  padding-left: 1rem;
  list-style-image: url('img/iconmonstr-arrow-25.svg');
}

li {
  margin-bottom: 0.5rem;
}

.intro {
  text-align: justify;
}

hr {
  border: 1px solid #cac4ce;
  width: 200px;
}

.blue {
  background-color: #a2dbe2;
}

.orange {
  background-color: #ff8c61;
}

.yellow {
  background-color: #f9dc5c;
}

.purple {
  background-color: #743880;
  color: white;
}

.green {
  background-color: #5e8c31;
  color: white;
}

.bar > div {
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
}

.portrait {
  height: 95%;
  border-radius: 50%;
}

figure {
  max-width: 50vw;
  text-align: center;
  margin: 2rem auto;
}

.action_icon {
  height: 7rem;
}

td {
  padding-bottom: 0.5rem;
  vertical-align: top;
}

td:first-of-type {
  font-weight: bold;
  text-align: right;
  padding-right: 0.5rem;
}

.contact_info a:hover,
.contact_info a:focus,
.contact_info a:active {
  color: #5e8c31;
}

.contact_info a:visited {
  color: #743880;
}

.contact_info .paragraph:first-of-type a {
  text-decoration: none;
}

@media screen and (min-width: 560px) {
  h1 > img {
    vertical-align: middle;
  }

  header {
    padding-bottom: 2rem;
  }
  
  header > span:first-of-type,
  header > span:last-of-type {
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
  }

  .bar {
    display: flex;
    flex-wrap: wrap;
  }

  .bar div {
    width: 50%;
  }

  .center {
    flex-basis: 100%;
  }

  .bar figure {
    flex-basis: 30%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1000px) {
  header {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  section,
  nav > ul {
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
  }

  .bar {
    justify-content: center;
  }

  .bar div,
  .bar .center,
  .bar figure {
    flex-basis: 20%;
  }

  .bar div {
    padding: 0 5px;
  }

  .about_me--paragraphs,
  .resume--paragraphs {
    display: flex;
    justify-content: space-between;
  }

  .paragraph {
    flex-basis: 45%;
  }

  .large {
    flex-basis: 60%;
  }

  .narrow {
    flex-basis: 25%;
  }

  hr {
    width: 30vw;
  }
}
